  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        ul>li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        table {
            width: 100%;
            border-collapse: collapse;

        }

        table th,
        table td {
            padding: 24px 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            color: #000;
            border-bottom: 1px solid #e0e0e0;
        }

        table th {
            text-align: left;
            font-weight: 500;
            padding: 12px 0;
            border-bottom: 2px solid #9c9c9c;
        }

        table td>a {
            color: #000;
        }

        .wrap {
            position: relative;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }

        .header {
            width: 100%;
            padding: 0 32px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 40px;
        }
        .logo {
            width: 80px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .logo > a {
            font-size: 12px;
            font-weight: 700;
            color: #000;
        }

        .gnb {
            width: 100%;
            height: 60px;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;
        }
        .gnb a {
            color: #000;
            padding: 6px 0;
            border-bottom: 2px solid transparent;
            transition: all 0.2s ease-in-out;
        }
        .gnb a:hover, 
        .gnb a.on {
            border-bottom: 2px solid #000;
        }


        .content {
            margin-top: -60px;
            padding-top: 60px;
            padding-bottom: 30px;
        }

        .footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            font-size: 10px;
            line-height: 30px;
            text-align: center;
            color: #000;
            background-color: #f2f2f2;
        }


        .title_wrap {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 12px;
        }
        .title {
            margin-bottom: 40px;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: -0.5px;
            color: #ccc;
        }
        .title.on {
            font-weight: 600;
            color: #000;
        }
        .title a {
            color: #000;
        }

        .table_wrap {
            padding: 32px;
        }