{% extends "layout.html" %}

{% block content %}
<!-- 데이터 테이블 등 페이지별 실제 내용 -->
<div class="table_wrap">
    <div class="title_wrap">
        <h2 class="title on">금천구립도서관</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            {% for row in notices %}
            <tr>
                <td>
                    <a href="https://geumcheonlib.seoul.kr/geumcheonlib/uce/programDetail.do?headerId=&selfId=1090&INST_CD=INST0000&INST_GB=1&idxNo={{ row['게시글아이디'] }}"
                        target="_blank">{{ row['제목'] }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}