{% extends "layout.html" %}

{% block content %}
<!-- 데이터 테이블 등 페이지별 실제 내용 -->
<div class="table_wrap">
    <div class="title_wrap">
        <h2 class="title on">
            <a href="/gcfamily">
                금천구
            </a>
        </h2>
        <h2 class="title">
            <a href="/ycfamily">
                양천구
            </a>
        </h2>
        <h2 class="title">
            <a href="/gsfamily">
                강서구
            </a>
        </h2>
        <h2 class="title">
            <a href="/mpfamily">
                마포구
            </a>
        </h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            {% for row in notices %}
            <tr>
                <td>
                    <a href="https://geumchfc.familynet.or.kr/{{ row['링크'] }}" target="_blank">{{ row['제목'] }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}