{% extends "layout.html" %}

{% block content %}
<!-- 데이터 테이블 등 페이지별 실제 내용 -->
<div class="table_wrap">
    <div class="title_wrap">
        <h2 class="title on">
            씽글벙글
        </h2>

    </div>
    <table>
        <colgroup>
            <col style="width: 20%;">
            <col style="width: 80%;">
        </colgroup>
        <thead>
            <tr>
                <th>지역</th>
                <th>제목</th>
            </tr>
        </thead>
        <tbody>
            {% for row in notices %}
            <tr>
                <td>{{ row['지역'] }}</td>
                <td>
                    <a href="https://1in.seoul.go.kr/front/partcptn/partcptnListPage.do" target="_blank">{{ row['제목']
                        }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}